.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 370px;
  width: min(100%, 250px);
  max-width: 350px;
  justify-content: space-between;
  border: 1px solid var(--third-color);
  border-radius: 8px;
  padding-bottom: 5px;
}

.card > img {
  flex: 1;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card > div {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding-left: 8px;
}

@media (max-width: 768px) {
  .card {
    width: min(100%, 350px);
    max-width: 350px;
  }
}

.detail-btn {
  height: 35px;
  width: 90%;
  max-width: 120px;
  align-self: center;
  border: 1px solid var(--third-color);
  color: var(--text-color);
  border-radius: 8px;
  background-color: transparent;
}
